.p{
border: 2px solid rgb(243, 242, 242);
border-radius: 10px 10px 0px 0px;
overflow: hidden;
width: 80%;
margin: 20px 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

// not sure about height
height: 20vh;



}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}
