* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  margin: auto;
  padding: 60px;
  max-width: 700px

}

a:link {
  background-color: rgb(235, 236, 237);
  color: #1565c0;
}
a:visited {
  background-color: rgb(235, 236, 237);
  color: #1976d2;
}
a:hover{
background-color: #b7e4c7
}

.App {
  text-align: left;
  color: #302E2A
}

.divider {
  border-bottom: 1px solid rgba(235, 236, 237, 0.8)
}

.profilephoto {
width: 10rem;
height: 10rem;
border-radius: 50%;
object-fit: cover;
}

.project-thumbnails{
  width: 500px;
height: 320px;

}



/* for learn more buttons */
.r-link{
	display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
	color: var(--rLinkColor) !important;
	text-decoration: var(--rLinkTextDecoration, none) !important;
}

.text-underlined::after{
    content: "";
    width: var(--textUnderlinedLineWidht, 100%) !important;
    height: var(--uiTextUnderlinedLineHeight) !important;
		background-image: var(--textUnderlinedBackgroundImage, linear-gradient(to top, var(--textUnderlinedLineColor, currentColor) 30%, rgba(255, 255, 255, 0) 45%)) !important; /* 1 */

    position: absolute;
    left: var(--textUnderlinedLineLeft, 0) !important;
    bottom: var(--textUnderlinedLineBottom, 0) !important;
		z-index: var(--textUnderlinedLineZindex, -1) !important;
}

.text-underlined{
    --uiTextUnderlinedLineHeight: var(--textUnderlinedLineHeight, 2px); /* 1 */
    --uiTextUnderlinedLineGap: var(--textUnderlinedLineGap, .5rem);
    --uiTextUnderlinedPaddingBottom: calc(var(--uiTextUnderlinedLineHeight) + var(--uiTextUnderlinedLineGap));

    padding-bottom: var(--uiTextUnderlinedPaddingBottom) !important;
    position: var(--textUnderlinedPosition, relative) !important;
		z-index: var(--textUnderlinedZindex, 1) !important;
}
.link {
  --textUnderlinedLineHeight: 100%;
  --textUnderlinedLineGap: 0;
  --textUnderlinedLineColor: #fed330;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
  
}

.link::after {
  will-change: width;
  transition: width 0.1s ease-out;
  transform: rotate(-2deg);
  transform-origin: left bottom;
}

.link:hover {
  --textUnderlinedLineWidht: 0;
}

.link:hover::after {
  transition-duration: 0.15s;
}
